{% extends 'base.html' %}



{% block main %}
    <div class="wrapper">
        <div class="form-container">
            <form action="" class="form" method="post">
                <div class="heading">
                    Forgotpassword
                </div>
                {% csrf_token %}

                <div class="form-control-s">
                    {% include 'includes/alert.html' %}
                </div>
                <div class="form-control-s">
                    <input type="email" name="email"  placeholder="Email">
                </div>

                <div class="form-control-s">
                    <input type="submit" class="submit-btn" value="Send">
                </div>   
            </form>
        </div>
    </div>
{% endblock main %}
    