

{% extends 'base.html' %}

{% block main %}
<div class="wrapper">
    <div class="form-container">
        <form class="form" method="POST">
            {% csrf_token %}
            <div class="heading">
                OTP Enter
            </div>
            <div class="form-control-s">
                {% include 'includes/alert.html' %}
            </div>
            <div class="form-control-s">
                <input type="text" name="otp"  placeholder="Enter OTP">
            </div>

            <div class="form-control-s">
                <input type="submit" class="submit-btn" value="Submit">
            </div>   
        </form>
    </div>
</div> 
{% endblock main %}
    